<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="/game.css">
</head>

<body>

    <div id="container">
        <canvas id="game_map_tb" width="600px" height="300px"></canvas>
        <div class="table_container">
            <table class="styled-table">
                <tbody id="placar">
                </tbody>
            </table>
        </div>

    </div>

    <script src="/socket.io/socket.io.js"></script>
    

    <script src="/game_en.js"></script>

    <script>
        var PLAYER_NAME = "<%= name %>"
    </script>

    <script src="/self_control.js"></script>
</body>

</html>